.input {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;

    @apply border border-solid border-black rounded;
}

.input.slot {
    width: calc(100% - 33px);
    @apply rounded-l-none;
}

.slotItem {
    @apply w-8 h-8 px-2 pb-[5px] pt-[4px];
    @apply bg-slate-300 rounded rounded-r-none;
    @apply border border-solid border-black border-r-0;
}

.select {
    width: 100%;
    height: 2rem;
    padding: 0.25rem;

    @apply border border-solid border-black rounded;
}