@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body and scrollbar styling */

body {
    background-color: #fffdfa;
    color: #2c2c2c;
}

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-md hover:bg-gray-500;
}


/* Landing page styles, todo: put in module.css*/

div.cover {
    @apply absolute top-1/2 left-1/4 sm:left-1/2;
    transform: translate(-18%, -45%);
}

div.horizontal-scroll {
    @apply flex flex-row gap-6;
    @apply overflow-x-auto lg:overflow-x-hidden scroll-smooth snap-x;
    @apply max-w-screen-xss xs:max-w-screen-xs sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg 2xl:max-w-screen-2xl;
}

@media (min-width: 640px) {
    div.cover {
        transform: translate(-50%, -50%);
    }
}