@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fffdfa;
    color: #2c2c2c;
}

div.cover {
    @apply absolute top-1/2 left-1/4 sm:left-1/2;
    transform: translate(-18%, -45%);
}

@media (min-width: 640px) {
    div.cover {
        transform: translate(-50%, -50%);
    }
}